@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,a,p,button,span,input{
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
a,a:hover{
    text-decoration: none;
}

/* *****************
    Header Section Css
***************** */

.header{
    padding: 30px 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-left,.nav-right{
    display: flex;
    align-items: center;
}
.nav-left ul{
    display: inline-block;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
    align-items: center;
    margin: 0 10px;
}
.nav-left ul li a{
    color: #565368;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.3s;
}
.nav-left ul li a:hover{
    color: #FF6162;
    transition: 0.3s;
}
.nav-right button{
    text-transform: capitalize;
    background: #FF6162;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
}
.nav-right button:hover{
    cursor: pointer;
    color:#292640;
    transition: 0.3s;
}

/* ****************
    Header Content CSS Start Here
*************** */

.header-content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.content-text{
    display: flex;
}
.header-left,.header-right{
    flex-basis: 50%;
}
.header-left h1{
    font-size: 56px;
    color: #292640;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 58px;
}
.header-left p{
    font-size: 18px;
    color: #a2a4a5;
    font-weight: 500;
    margin-right: 20px;
    line-height: 25px;
}
.header-left a{
    color: #a2a4a5;
    border-radius: 100%;
    border: 2px solid #a2a4a5;
    padding: 3px 5px;
    transition: 0.3s;
}
.header-left a:hover{
    color: #FF6162;
    border: 2px solid #FF6162;
    transition: 0.3s;
}

/* ****************
   Portfolio CSS Start Here
*************** */

.porfolio{
    padding: 40px 0;
    text-align: center;
}
.porfolio-content h2{
    font-size: 32px;
    font-weight: 700;
    color: #292640;
    letter-spacing: 1px;
}
.porfolio-content p{
    color: #a2a4a5;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 400;
}
.porfolio-item{
    display: flex;
    margin-top: 30px;
}
.item{
    flex-basis: 25%;
    padding: 0 15px;
    ransition: 0.3s;
}
.item img{
    width: 100%;
}
.porfolio-item .item:hover{
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 8px 14px 10px rgba(0, 0, 0, 0.3);
}
.item h3{
    color: #646768;
    letter-spacing: 1px;
}

.line{
    background: #646768;
    height: 70px;
    width: 2px;
    margin: 40px auto;

}

/* ****************
    Feature Section CSS
***************** */

.feature{
    padding: 40px 0;
    text-align: center;
}
.feature-content h2{
    font-size: 32px;
    font-weight: 700;
    color: #292640;
    letter-spacing: 1px;
}
.feature-content p{
    color: #a2a4a5;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.feature-item{
    display: flex;
}
.item{
    flex-basis: 33.33%;
    background: #F5F5F5;
    padding: 24px;
    margin: 16px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(0 0 0 /10%);
}
.item a{
    padding: 8px 15px;
    background: #fff;
    font-size: 28px;
    font-weight: bold;
    color: #FF6162;
    border-radius: 100%;
}
.item h3{
    color: #494F5D;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 700;
}
.item p{
    color: #AAACAD;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* ***************
    Footer Section CSS
**************** */

.footer{
    background: #292640;
    text-align: center;
}
.footer-content h3{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    padding-top: 60px;
}
.footer-content button{
    text-transform: capitalize;
    background: #FF6162;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
    display: block;
    margin: 0 auto;
}
.footer-content button:hover{
    cursor: pointer;
    color:#292640;
    transition: 0.3s;
}
.footer-content img{
    height: 60px;
    width: 200px;
    padding-top: 20px;
}

.footer-content a i{
    color: #a2a4a5;
    border-radius: 100%;
    border: 2px solid #a2a4a5;
    padding: 3px 5px;
    transition: 0.3s;
    float: right;
    margin-right: 20px;
    margin-top: 40px;
}
.footer-content a i:hover{
    color: #FF6162;
    border: 2px solid #FF6162;
    transition: 0.3s;
}